[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi[standard]>=0.129.0",
    "pydantic-settings>=2.13.0",
    "pydantic[email]>=2.12.5",
    "uvicorn[standard]>=0.41.0",
]
